*.iml
.gradle
.idea/.name
.idea/artifacts/shared.xml
.idea/compiler.xml
.idea/deploymentTargetSelector.xml
.idea/gradle.xml
.idea/misc.xml
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xmls
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
build/
**/build/
.gradle/
**/.gradle/
.kotlin/
*.zip
/captures
.externalNativeBuild
.cxx
local.properties
msg.txt
architecture_details.md
